* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

body,
html {
  width: 100%;
}

html {
  min-width: 1200px;
}

.w {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.clear_float:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

footer .black_bg {
  height: 146px;
  background-color: #000;
}
footer .black_bg .w {
  position: relative;
}
footer .black_bg img {
  font-size: 0;
}
footer .black_bg a {
  position: absolute;
  display: block;
  width: 200px;
  height: 95px;
  top: 20px;
  right: 170px;
}
footer .f-info {
  padding-top: 40px;
  height: 266px;
}
footer .f-info .w .f-con .f-text .f-t-left {
  height: 266px;
  width: 63%;
  float: left;
  box-sizing: border-box;
  padding: 0 0 0 100px;
}
footer .f-info .w .f-con .f-text .f-t-left ul {
  float: left;
  margin-right: 50px;
}
footer .f-info .w .f-con .f-text .f-t-left ul a {
  color: #000;
}
footer .f-info .w .f-con .f-text .f-t-left ul li {
  font-size: 14px;
  line-height: 25px;
}
footer .f-info .w .f-con .f-text .f-t-left ul h2 {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 20px;
}
footer .f-info .w .f-con .f-text .f-t-right {
  height: 204px;
  width: 36%;
  float: right;
  padding: 0 162px 0 0;
  box-sizing: border-box;
}
footer .f-info .w .f-con .f-text .f-t-right .QR-code {
  text-align: center;
}
footer .f-info .w .f-con .f-text .f-t-right .QR-code img {
  width: 100px;
}
footer .f-info .w .f-con .f-text .f-t-right .QR-code .guanzhu {
  display: block;
  font-size: 12px;
  color: #aaa;
  padding-bottom: 10px;
}
footer .f-info .w .f-con .f-text .f-t-right .QR-code .wel {
  margin: 0 auto;
  width: 205px;
  height: 40px;
  font-weight: 500;
  line-height: 40px;
  border: 1px solid #aaa;
  border-radius: 30px;
  transition: all 0.3s;
}
footer .f-info .w .f-con .f-text .f-t-right .QR-code .wel:hover {
  background-color: #ea3e61;
  color: aliceblue;
}
footer .copyRight {
  height: 42px;
}
footer .copyRight .w {
  padding: 40px 0 10px 0;
  color: #999;
  text-align: center;
}
footer .copyRight .w p {
  margin: 0 auto;
}
footer .copyRight .w p span {
  color: #000;
}