* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;

    a {
        color: #333;
    }
}

body,
html {

    width: 100%;
}

.w {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

html {
    min-width: 1200px;
}

.INFO {
    .w {
        width: 1200px;
        height: 100%;
        margin: 0 auto;

        // border: 1px solid red;
        .chooseGoods {
            display: flex;
            position: relative;
            .left:hover .mask,
            .left:hover~.right
            {display: block;}
            .left{
                height: 500px;
                position: relative;
                img {
                    width: 500px;
                    height: 500px;
                }

                .mask{
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: rgba(0,0,0,0.2);
                    width: 250px;
                    height: 250px;
                    
                }            
            }
            .right{
                display: none;
                position: absolute;
                z-index: 10;
                left: 510px;
                width: 500px;
                height: 500px;
                overflow: hidden;
                // border: 5px solid#de2910;
                img{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 1000px;
                    height: 1000px;
                }
            }

            .info {
                width: 600px;
                height: 720px;
                padding: 10px;

                h3 {
                    font-size: 24px;
                    margin-bottom: 0px;
                    height: 72px;
                }

                .info-title {
                    color: #8c8c8c;
                    margin-top: 1rem;
                    font-size: 16px;
                }

                .price {
                    background: #f8f8f8;
                    margin-top: 20px;
                    border-bottom: 1px solid #eeeeee;

                    .up {
                        border-bottom: 1px solid #eeeeee;
                        padding: 15px 25px;
                        box-sizing: border-box;
                        border-bottom: 1px solid#ddd;

                        i {
                            display: inline-block;
                            min-height: 35px;
                            color: #de2910;
                            font-style: normal;
                            font-size: 30px;
                        }
                    }

                    .down {
                        padding: 15px 25px;

                        p {
                            img {
                                width: 102px;
                                height: 30px;
                            }
                        }
                    }
                }

                .share {
                    height: 52px;
                    padding: 10px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .remember {
                        text-align: center;
                        line-height: 30px;
                        display: block;
                        background: #f5f5f5;
                        border: 1px solid #ddd;
                        width: 118px;
                        height: 30px;
                        font-size: 12px;
                    }

                    p {
                        font-size: 12px;
                        text-align: left;
                        width: 200px;
                        height: 32px;
                        line-height: 32px;

                        span {
                            display: inline;
                            // float: right;
                            width: 32px;
                            font-size: 32px;
                        }
                        span.icon-weixin{color: rgb(29, 193, 4);}
                        span.icon-weibo1{
                            color:#ea5d5c
                        }
                        span.icon-qq{
                            color:#68a5e1
                        }
                        span.icon-qqkongjian{
                            color: #f5bc32;
                        }

                    }
                }

                .colorBox {
                    height: 110px;

                    p {
                        color: #8c8c8c;
                        font-size: 12px;
                        margin-bottom: 10px;

                        span {
                            color: #de2910;
                        }
                    }

                    img {
                        width: 72px;
                        height: 72px;
                        border: 2px solid #de2910;
                    }
                }

                .sizeBox {
                    p {
                        color: #8c8c8c;
                        font-size: 12px;

                        span {
                            display: inline;
                            color: #de2910;
                            border: 0px;
                        }
                    }

                    span {
                        display: block;
                        width: 72px;
                        height: 42px;
                        text-align: center;
                        line-height: 42px;
                        border: 2px solid #de2910;
                        font-size: 12px;

                    }
                }

                .count {
                    padding: 10px 0;

                    p {
                        padding: 10px 0;
                        color: #8c8c8c;
                        font-size: 12px;

                    }

                    div {
                        display: flex;

                        a {
                            text-align: center;
                            display: block;
                            width: 50px;
                            height: 42px;
                            line-height: 42px;
                            border: 1px solid #8c8c8c;
                            font-size: 25px;
                        }

                        span {
                            text-align: center;
                            display: block;
                            width: 50px;
                            height: 42px;
                            line-height: 42px;
                            border-top: 1px solid #8c8c8c;
                            border-bottom: 1px solid #8c8c8c;
                        }
                    }
                }

                .op {
                    margin-top: 15px;

                    .buy,
                    .intoCart {
                        width: 140px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        outline: none;

                        margin-right: 30px;
                        font-size: 20px;
                    }

                    .intoCart {
                        border: 0px;
                        background-color: #de2910;
                        color: #fff;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.bboard {
    .w {

        a {

            display: block;
            margin: 0 auto;
            width: 58px;
            height: 22px;
            text-align: center;
            font-size: 12px;
            border-bottom: 1px solid #000;

        }
    }
}

.DETAIL {
    .w {
        .allPic {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: center;
        }
    }
}

.like {
margin: 50px 0;

    
    .w {
        border-top: 1px solid #d0d0d0;
        h2 {
            margin: 20px auto;
            text-align: center;
        }

        ul {
            display: flex;
            justify-content: space-between;

            li:hover {
                box-shadow: 0 0 12px 8px #f3f3f3;
            }

            li {
                width: 208px;
                padding: 10px;

                img {
                    width: 208px;
                }

                p {
                    font-size: 16px;
                    text-align: center;
                    margin: 10px 0 5px;
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #000000;
                }

                span {
                    font-size: 14px;
                }

                span.cont-money {
                    margin-left: 20px;
                    color: red;
                    font-weight: bold;
                }

                span.cost-line {

                    color: #c7c7c7;
                    margin-left: 12px;
                    text-decoration: line-through;
                }
            }
        }
    }
}